body {
	color:white;
	background:url("bg/bg0.png") no-repeat center center fixed;
	background-size:cover;
	background-color:black;
	height:100%;
	width:100%;
	margin:auto;
	text-align:center;
	font-family:batang;
}
article {
	font-size:320%;
}
#timeShower {
	font-size:420%;
	margin-top:8%;
}
#controls {
	margin-top:-9em;
	font-size:40%;
}
footer {
	font-size:70%;
}
button {
	width:8em;
	height:4em;
}
.minorButton {
	width:8em;
	height:3em;
	padding:0px;
}
